.song button {
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  cursor: pointer;
  text-align: center;
  margin-top: -1em;
  background-color: rgba(91, 91, 91, 0.514);
  padding: 15px;
}
.song2 button {
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  cursor: pointer;
  text-align: center;
  margin-top: 1em;
  background-color: rgba(91, 91, 91, 0.514);
  padding: 15px;
}

.runningtext {
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .runningtext {
    display: none;
  }
}
